body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(53,53,170);
    min-height: 90vh;
    display: grid;
    place-items: center;
}

.calculadora{
    background-color: #172C48;
    border: 2px solid #4875AE;
}

.pantalla{
    height: 40px;
    color: white;
    background-color: #244063;
}

.calculadora .pantalla{
    font-size: 40px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botones{
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 250px;
}

button{
    color: white;
    cursor: pointer;
    border: none;
    background-color: #809cc0;
    margin: 1.5px;
    padding: 15px;
    font-size: 15px;
}

button:hover{
    transition: 0.3s;
    background-color: #566573;
    color:  #f6f6f6f6;
}

button #igual{
    height: 50%;
}

#borrar{
    grid-column: 2 / 4;
}

#igual{
    grid-row: span 2;
    background-color: #4372AD;
}

#igual:hover{
    background-color: #566573;
    transition: 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    border-radius: 7px;
    background-color: #f1f1f1;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

ul li{
    list-style: none;
}

.button-historial button{
    width: 285%;
}
